---
import MainLayout from '../layouts/MainLayout.astro';
import FeaturedGallery from '../components/FeaturedGallery.astro';
import FeaturedWorkScroll from '../components/FeaturedWorkScroll.astro';
import siteConfig from '../../site.config.mjs';
---

<MainLayout showBanner={true}>
	<section class="space-y-8 hero-section">
		<FeaturedWorkScroll />
	</section>

	<section class="featured-section py-20">
		<FeaturedGallery />
	</section>
</MainLayout>

<style>
	.hero-section {
		min-height: 5vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.featured-section {
		margin-top: 0vh;
	}
</style>
