---
import siteConfig from '../../site.config.mjs';

const owner = siteConfig.owner;
---

<div class="absolute left-0 right-0 z-0">
	<div class="text-center mb-12 relative z-10">
		<h1 class="text-3xl md:text-4xl lg:text-5xl font-bold leading-tight">
			{owner} Photo
		</h1>
		<p class="mt-4 text-base md:text-lg text-gray-700">Un endroit pour présenter ma photographie</p>
		<a
			href=`/collections`
			class="mt-8 inline-block px-6 py-3 border-2 border-black rounded-md
                      hover:bg-black hover:text-white transition-all duration-300
                      text-sm md:text-base font-medium
                      transform hover:scale-105 active:scale-95"
		>
			Voir la galerie
		</a>
	</div>
</div>
