---
import PhotoLarge from './PhotoLarge.astro';
import PhotoGrid from './PhotoGrid.astro';
import type { Image as ImageType } from '../data/galleryData';

interface Props {
	image: ImageType;
}

const { image } = Astro.props;
---

<div class="photo-detail-page">
	<PhotoLarge image={image} priority />
</div>
